/* Jespers Værktøjskasse - fælles design */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0d58d;
    color: #222;
}

header {
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
    color: #555;
}

header p sup a {
    text-decoration: none;
    color: inherit;
    font-size: 1em;
}


.kort-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.kort h2 {
    margin-top: -5px;
}

.kort-billede {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-top: 0px;
    margin-bottom: 10px;
}

.kort {
    background: rgb(245, 245, 245);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
    cursor: pointer;
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}

.kort:hover {
    transform: translateY(-10px);
}

.ikon {
    font-size: 50px;
}

/*
.ansvarsfraskrivelse {
    max-width: 800px;
    margin: 40px auto 20px;
    padding: 15px 20px;
    text-align: center;
    font-size: 0.85rem;
    border-top: 1px solid #464444;
}

.ansvarsfraskrivelse h3 {
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.ansvarsfraskrivelse p {
    margin: 0;
    line-height: 1.5;
}*/

footer {
    text-align: center;
    padding: 30px;
    color: #676767;
}

/* --------------------------------
   ANSVARSFRASKRIVELSE
-------------------------------- */

.ansvarsfraskrivelse {
    max-width: 900px;
    margin: 50px auto 30px;
    padding: 25px;
    border-top: 1px solid #494848;

    text-align: left;
    font-size: 0.85em;
    line-height: 1.5;
}

.ansvarsfraskrivelse h3 {
    margin-top: 0;
    text-align: center;
}

.ansvarsfraskrivelse p {
    margin-bottom: 10px;
}

.disclaimer-check {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    margin-top: 20px;
    padding: 15px;

    text-align: left;
    font-weight: bold;
    cursor: pointer;
}

.disclaimer-check input {
    flex-shrink: 0;
    margin: 3px 10px 0 0;
}

/* --------------------------------
   LÅSTE PROGRAMMER
-------------------------------- */

.program-link.disabled {
    opacity: 0.45;
    cursor: not-allowed;
}




